	html, body
	{
		height: 100%;
	}
	
	body
	{
		overflow-x: hidden !important; 
		margin: 0px;
		padding: 0px;
		background: rgb(2, 180, 228);
		font-family: 'Questrial', sans-serif;
		font-size: 12pt;
		color: rgba(0,0,0,.6);
	}
	#banner img{
		width: 100%;
	}
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		color: #404040;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #2056ac;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	

	.container
	{
		margin: 0px auto;
		width: 80%;
	}
	

	/*	slider	*/


.slider
{
	width: 100%;
	height: 500px;
	overflow: hidden;
}
@media (max-width: 990px)
{
	.slider
	{
		height: 350px;
	}
} 


.slide{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	float: left;
	position: absolute;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}



.slidecontent{
	color:black;
	text-align: center;
	padding-top: 7em;
}
.slidecontent div{
	display: inline-block;
}
#first{
	background-image: url(./banner1.jpg);
}
#second{
	background-image: url(./images/banner.jpg);
}
/*********************************************************************************/
/* Form Style                                                                    */
/**********************************
***********************************************/

		form
		{
		}
		
			form label
			{
				display: block;
				text-align: left;
				margin-bottom: 0.5em;
			}
			
			form .submit
			{
				margin-top: 2em;
				line-height: 1.5em;
				font-size: 1.3em;
			}
		
			form input.text,
			form select,
			form textarea
			{
				position: relative;
				-webkit-appearance: none;
				display: block;
				border: 0;
				background: #fff;
				background: rgba(255,255,255,0.75);
				width: 100%;
				border-radius: 0.50em;
				margin: 1em 0em;
				padding: 1.50em 1em;
				box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
				border: solid 1px rgba(0,0,0,0.15);
				-moz-transition: all 0.35s ease-in-out;
				-webkit-transition: all 0.35s ease-in-out;
				-o-transition: all 0.35s ease-in-out;
				-ms-transition: all 0.35s ease-in-out;
				transition: all 0.35s ease-in-out;
				font-size: 1em;
				outline: none;
			}

				form input.text:hover,
				form select:hover,
				form textarea:hover
				{
				}

				form input.text:focus,
				form select:focus,
				form textarea:focus
				{
					box-shadow: 0 0 2px 1px #E0E0E0;
					background: #fff;
				}
				
				form textarea
				{
					min-height: 12em;
				}

				form .formerize-placeholder
				{
					color: #555 !important;
				}

				form ::-webkit-input-placeholder
				{
					color: #555 !important;
				}

				form :-moz-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-placeholder
				{
					color: #555 !important;
				}

				form :-ms-input-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-focus-inner
				{
					border: 0;
				}


/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
		border: 1px solid rgba(0,0,0,.1);
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 3em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.10em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #4C93B9;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		color: rgba(255,255,255,1);
	}
	

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin-top: 2em;
		padding: 0.8em 2em;
		background: #64ABD1;
		line-height: 1.8em;
		letter-spacing: 1px;
		text-decoration: none;
		font-size: 1em;
		color: #FFF;
	}
	
	.button:before
	{
		display: inline-block;
		background: #8DCB89;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}
	
	.button-small
	{
	}
		
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2.8em;
	}
	
	.title .byline
	{
		font-size: 1.1em;
		color: #6F6F6F;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		overflow: hidden;
		background: #2056ac;
		background-image: url(./banner2.jpg);
		background-size: cover;
		background-position: center center;
		border-bottom: 7px solid black;
		border-top: 7px solid black;
	}

	#header
	{
		text-align: center;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		padding: 8em 0em 4em 0em;
	}
	#logo img{
		height: 350px;
	}
	#logo h1
	{
		display: block;
		margin-bottom: 0.20em;
		padding: 0.20em 0.9em;
		font-size: 3.5em;
	}
	
	#logo a
	{
		text-decoration: none;
		color: #FFF;
	}
	
	#logo span
	{
		text-transform: uppercase;
		font-size: 2.90em;
		color: rgba(255,255,255,1);
	}

	#logo span a
	{
		color: rgba(255,255,255,0.8);
	}
	
	

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		height: 60px;
	}
	
	#menu ul
	{
		display: inline-block;
		padding: 0em 2em;
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu li a, #menu li span
	{
		display: inline-block;
		padding: 0em 1.5em;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 60px;
		outline: 0;
		color: #FFF;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		background: #FFF;
		border-radius: 7px 7px 0px 0px;
		color: #2056ac;
	}
	
	#menu .current_page_item a
	{
	}
	

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding-top: 0;
		border-top: 7px solid black;
	}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/


	.wrapper
	{
		overflow: hidden;
		background: #FFF;
	}

	#wrapper1
	{
		background: #FFF;
	}

	#wrapper2
	{
		overflow: hidden;
		background: #F3F3F3;
		padding: 5em 0em;
		text-align: center;
	}

	#wrapper3
	{
	}
	
	#wrapper4
	{
	}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

	#welcome
	{
		overflow: hidden;
		padding: 6em 100px 0em 100px;
		text-align: center; 
		margin-top: -6em;
	}
	@media (max-width: 990px){
		#welcome
		{
			padding: 3em 0 0 0;
			margin-top: 0;
	}
		}	
	}	
	#welcome .content
	{
		padding: 0em 8em;
	}
	
	#welcome .title h2
	{
	}
	
	#welcome a,
	#welcome strong
	{
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page-wrapper
	{
		overflow: hidden;
		background: #2F1E28;
		padding: 3em 0em 6em 0em;
		text-align: center;
	}

	#page
	{
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		float: left;
		width: 700px;
		padding-right: 100px;
		border-right: 1px solid rgba(0,0,0,.1);
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: right;
		width: 350px;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #E3F0F7;
		text-align: center;
	}
	@media (max-width:990px){
		#footer{
			padding: 3em 0 0 0;
		}
		#footer .container{
			display:block !important;
		}
	}

		
	#footer .fbox1,
	#footer .fbox2,
	#footer .fbox3
	{
		float: left;
		width: 320px;
		padding: 0px 40px 0px 40px;
	}
	
	#footer .icon
	{
		display: block;
		margin-bottom: 1em;
		font-size: 3em;
	}
	@media (max-width:990px){
		#footer .icon
		{
			margin-bottom: 10px;
		}
	}

	
	#footer .title span
	{
		color: rgba(255,255,255,0.4);
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 20px solid rgba(255,255,255,0.08);
		text-align: center;
	}
	
	#copyright p
	{
		letter-spacing: 1px;
		font-size: 0.90em;
		color: rgba(255,255,255,0.6);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.8);
	}

/*********************************************************************************/
/* Newsletter                                                                    */
/*********************************************************************************/

	#newsletter
	{
		overflow: hidden;
		padding: 8em 0em;
		background: #EDEDED;
		text-align: center;
	}
	
	#newsletter .title h2
	{
		color: rgba(0,0,0,0.8);
	}
	
	#newsletter .content
	{
		width: 600px;
		margin: 0px auto;
	}
	
/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio
	{
		overflow: hidden;
		padding-top: 5em;
		border-top: 1px solid rgba(0,0,0,0.2);
	}
	
	#portfolio .box
	{
		text-align: center;
		color: rgba(0,0,0,0.5);
	}
	
	#portfolio h3
	{
		display: block;
		padding-bottom: 1em;
		font-size: 1em;
		color: rgba(0,0,0,0.6);
	}

	#portfolio .title
	{
		text-align: center;
	}

	#portfolio .title h2
	{
		color: rgba(0,0,0,0.8);
	}

	.column1,
	.column2,
	.column3,
	.column4
	{
		width: 23.7%;
	}
	
	.column1,
	.column2,
	.column3
	{
		float: left;
		margin-right: 24px;
	}
	
	.column4
	{
		float: right;
	}

/*********************************************************************************/
/* Three Columns                                                                 */
/*********************************************************************************/

	#three-column
	{
		overflow: hidden;
		margin-top: 5em;
		padding-top: 1em;
		border-top: 1px solid rgba(0,0,0,0.2);
		text-align: center;
	}
	
	#three-column h2
	{
		margin: 1em 0em;
		font-size: 1.5em;
		font-weight: 700;
	}
	
	#three-column .icon
	{
		position: relative;
		display: block;
		margin: 0px auto 0.80em auto;
		background: none;
		line-height: 150px;
		font-size: 4em;
		width: 150px;
		height: 150px;
		border-radius: 100px;
		border: 6px solid #67128F;
		text-align: center;
		color: #FFF;
		
	}
		
	#three-column #tbox1,
	#three-column #tbox2,
	#three-column #tbox3
	{
		float: inherit;
		width: 33.3%;
		padding: 50px 40px 80px 40px;
	}
	@media (max-width: 990px){
		#three-column #tbox1,
		#three-column #tbox2,
		#three-column #tbox3
		{
			display: inline-block;
			width: 80%;
			padding: 20px 5px 20px 5px;
			margin: 20px 0 20px 0;
			background-color: whitesmoke;
			border-radius: 15px;
		}
	}
	
	#three-column .title
	{
		text-align: center;
		margin-bottom: 0;
	}
	
	#three-column .title h2
	{
		font-size: 1.60em;
	}
	
	#three-column .title .byline
	{
		padding-top: 0.50em;
		font-size: 0.90em;
		color: #858585;
	}

	#three-column .arrow-down
	{
		border-top-color: #292929;
	}
	
	
	ul.tools
	{
		margin: 0;
		padding: 0em 0em 0em 0em;
		list-style: none;
	}
	
	ul.tools li
	{
		display: inline-block;
		padding: 0em .2em;
		font-size: 4em;
	}
	
	ul.tools li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.tools li a
	{
		color: #FFF;
	}
	
	ul.tools li a:before
	{
		display: inline-block;
		background: #1ABC9C;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		line-height: 120px;
		text-align: center;
		color: #FFFFFF;
	}
	
	
	/*
	My sections ----------------------------------------------
	*/

	.nav{
		height: 115px;
		border-bottom: 8px solid black;
		width: 100%;
		background-image: url(./images/nav-bg.jpg);
		background-position: center center;
		background-size: cover;
	}
	.nav img{
		height: 182px;
		margin-top: 15px;
		margin-left: 10%;
		display: inline-block;
		z-index: 10;
		position: relative;
	}
	.pages{
		width: 80%;
		text-align: right;
		display: inline-block;
		height: 30px;
		transform: translateY(-96px);
		font-size: 20px;
	}
	.pages a{
		margin-left: 4px;
		margin-right: 4px;
		padding: 10px;
		background-color: black;
		border-radius: 5px 5px 0 0;	
		font-weight: bold;
		color: whitesmoke;
		text-decoration: none;
		transition: 0.2s all ease;
	}
	.pages a:hover{
		font-weight: bold;
		background-color: whitesmoke;
		color: black;
		text-decoration: none;
		transition: 0.2s all ease;
	}
	.img-container{
		display: inline-block;
		text-align: right;
		width: 19%;
	}
	.navigation-sld{
		transform: translateY(-280px);
		display: flex;
		justify-content: space-between;
		font-size: 30px;
		font-weight: bold;
		padding: 30px;
	}
	@media (max-width:990px){
		.navigation-sld{
			display: none;
		}
	}
	#next, #prev{
		cursor: pointer;
		color: white;
		background: rgba(0, 0, 0, 0.3);
		border-radius: 100%;
		padding: 10px;
	}
	.item{
		background:url(./casa.jpg);
		background-position: center center;
		background-size: cover;
		height: 300px;
		margin: 5px;
	}
	.itemtext{
		padding-top: 20px;
		padding-right: 20px;
		text-align: right;
		background-color: rgba(0, 0, 0, 0.52);
		color:white;
	}
	.itemtext h3{
		color:white;
	}
	.-prev:before, .-next:before{
		color: black;
	}
	.black-1{
		background-color: #383838;
		height: 10px; 
	}
	.black-2{
		background-color: #525252;
		height: 10px; 
	}
	.black-3{
		background-color: #676767;
		height: 10px; 
	}
	.black-41{
		background-color: #888888;
		height: 10px; 
	}
	.black-5{
		background-color: #999999;
		height: 10px; 
	}
	#slideposition{
		background-color: gray;
	}
	.title h1
	{
		padding-top: 1em;
		font-size: 2.8em;
		text-align: center;
	}
	.cols{
		display: flex;
		width: 100%;
	}
	@media (max-width: 990px){
		.cols{
			display: block;
			text-align: center;
			margin-bottom: 3em;
		}
	}
	.gray-bg{
		background-color: #e4e4e4;
	}
	.title h3{
		text-align: center;
	}
	.slick-prev:before, .slick-next:before {
		font-size: 26px;
		line-height: 1;
		opacity: .75;
		color: #484848;
	}
	.contacto input{
		height: 25px;
		font-size: 20px;
		border-radius: 6px;
		margin: 10px;
		border: 1px solid #ccc;
		padding: 6px;
	}
	.contacto textarea{
		height: 25px;
		font-size: 18px;
		border-radius: 6px;
		margin: 10px;
		border: 1px solid #ccc;
		padding: 6px;
	}
	.contacto input#nombre{
		width: 41%;
	}
	.contacto input[type="submit"], .contacto input[type="reset"]{
		height: 50px;
	}

	#asunto{
		width: 100%;
	}
	div #contacto{
		padding-bottom: 3em;
	}
	.contacto-controls{
		display: block;
		text-align: right;
	}
	#footer .container{
		display:flex;
	}
	#footer .container div{
		width: 33.3%;
	}
	@media (max-width:990px){
		#footer .container div{
		width: 80%;
		display: inline-block;
		text-align: center;
		margin-bottom: 3em;
	}
	}
	.pages-mobile{
		position: fixed;
		text-align: center;
		background-color: #525252;
		position:absolute;
		z-index: 100;
		top:0;
		left: 40%;
		width: 60%;
		height: 100%;
		 transform: translateX(100%); 
		transition: all 0.5s ease;
		padding-top: 2em;
	}
	.open{
		position: fixed;
		 transform: translateX(0); 
		transition: all 0.5s ease;
	}
	
	#show-button{
		position: absolute;
		top:100px;
		left: 80%;
		font-size: 35px;
		color: black;
		transform: translateY(-50px);
		transition: all 0.2s ease;
	}
	#show-button:hover{
		font-size: 40px;
		transition: all 0.2s ease;
	}
	.pages-mobile .menu{
		display: inline-block;
		width: 80%;
		transform: translateX(2%);
		padding-bottom: 1.5em;
	}
	.pages-mobile span{
		display: inline-block;
		font-size: 35px;
		color: white;
	}
	.pages-mobile h2{
		color: white;
	}
	.pages-mobile ul li{
		border-bottom: 1px solid gray;
	}
	.pages-mobile ul li a{
		width:100%;
		height: 40px;
		background-color: transparent;
	}
	.pages-mobile ul li a:hover{
		background-color: transparent;
	}
	.pages-mobile ul li a div{
		height: 100%;
	}
	.block-layer{
		position: fixed;
		top: 0;
		left: 100%;
		width: 0%;
		height: 100%;
		background-color: rgba(31, 31, 31, 0.6);
		transition: all 0.5s ease;
		z-index: 10;
	}
	.block-layer.open{
		left: 0;
		width: 100%;
		transition: all 0.5s ease;
	}
	.modal-open{
		overflow: hidden;
	}
	.supercontainer{
		overflow: hidden !important;
	}
	@media (max-width: 990px){
		.contacto input, .contacto textarea{
			margin: 10px 0 0 0;
			padding: 3px;
			width: 99% !important;
		}		
	}
	